In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.getOrCreate()

In [5]:
data_path = './Data/'
file_path = data_path + 'location_temp.csv'
df1 = spark.read.format('csv').option('header','true').load(file_path)

In [6]:
df1.count()

500000

In [7]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [9]:
df2.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

In [10]:
df2_sample = df2.sample(False,fraction=0.1)

In [11]:
df2_sample.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.56|03/05/2019 10:26:14|       0.69|      100|           44|
|           0.55|03/05/2019 10:51:14|       0.42|      100|           60|
|           0.44|03/05/2019 11:16:14|       0.47|      100|           43|
|           0.52|03/05/2019 11:51:14|       0.68|      100|           41|
|           0.56|03/05/2019 13:46:14|       0.42|      100|           49|
|            0.6|03/05/2019 16:06:14|       0.45|      100|           62|
|           0.64|03/05/2019 17:01:14|       0.37|      100|           55|
|           0.35|03/05/2019 17:06:14|       0.66|      100|           44|
|            0.4|03/05/2019 17:51:14|       0.51|      100|           53|
|           0.57|03/05/2019 19:16:14|       0.45|      100|           47|
|           0.63|03/05/2019 20:01:14|       0.52|      100|           69|
|           0.32|03/05/2019 20:21:14|       0.41|      100|           66|
|           0.37|03/05/2019 20:56:14|       0.71|      100|           52|
|           0.29|03/05/2019 21:01:14|        0.5|      100|           58|
|           0.31|03/05/2019 21:11:14|        0.6|      100|           62|
|            0.4|03/05/2019 21:51:14|       0.57|      100|           40|
|           0.65|03/05/2019 22:01:14|       0.44|      100|           67|
|           0.55|03/05/2019 22:11:14|       0.57|      100|           43|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [8]:
df1.filter(df1['location_id']=='loc0').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [9]:
df1.filter(df1['location_id']=='loc0').count()

1000

In [10]:
df1.filter(df1['location_id']=='loc1').count()

1000

In [11]:
df1.filter(df1['location_id']=='loc0').show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows