In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

24/05/05 22:12:44 WARN Utils: Your hostname, aliyu-XPS-15-9550 resolves to a loopback address: 127.0.1.1; using 192.168.0.47 instead (on interface wlp2s0)
24/05/05 22:12:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/05 22:12:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data_path = './Data/'
file_path = data_path + 'location_temp.csv'
df1 = spark.read.format('csv').option('header','true').load(file_path)

In [4]:
df1.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

In [6]:
df1.count()

500000

In [7]:
df1_s1 = df1.sample(fraction=0.1, withReplacement=False)

In [8]:
df1_s1.count()

50131

In [10]:
df1_s1.groupBy('location_id').agg({'temp_celcius':'mean'}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|      loc22| 28.07894736842105|
|      loc31|  25.0561797752809|
|      loc82|27.032967032967033|
|      loc90|23.580246913580247|
|     loc118|              24.0|
|      loc39| 24.82300884955752|
|      loc75|23.011494252873565|
|     loc122|              32.5|
|      loc24| 31.16867469879518|
|      loc30|30.094117647058823|
|     loc105| 25.77319587628866|
|      loc96|          27.90625|
|     loc102|30.582417582417584|
|      loc18| 30.45945945945946|
|      loc27|31.244444444444444|
|     loc143|            28.125|
|      loc43| 32.30107526881721|
|     loc123|23.173076923076923|
|      loc15| 32.10204081632653|
|      loc48| 30.04950495049505|
+-----------+------------------+
only showing top 20 rows

In [11]:
df1_s1.groupBy('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.055555555555557|
|       loc1|27.990909090909092|
|      loc10|24.976744186046513|
|     loc100|27.168316831683168|
|     loc101|25.515151515151516|
|     loc102|30.582417582417584|
|     loc103|25.647058823529413|
|     loc104|26.217821782178216|
|     loc105| 25.77319587628866|
|     loc106|27.582417582417584|
+-----------+------------------+
only showing top 10 rows

In [12]:
df1.groupBy('location_id').agg({'temp_celcius':'mean'}).orderBy('location_id').show(10)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
+-----------+-----------------+
only showing top 10 rows